<a href="https://colab.research.google.com/github/rashmi-biswas/global_terrorism_eda/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
file_path = "/content/drive/MyDrive/Colab Notebooks/Global Terrorism/Global Terrorism Data.csv"
df = pd.read_csv(file_path,  encoding = "ISO-8859-1", engine='python')

In [24]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [25]:
df.tail()

             eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[5 rows x 135 columns]

The 2nd last row contains data of a attack/incident happened particularly in India. So, it will help us understand and relate the features in the dataset more clearly. Lets check

In [26]:
a = df.loc[181689]
pd.DataFrame(a).transpose()

             eventid iyear imonth iday  ... INT_IDEO INT_MISC INT_ANY related
181689  201712310031  2017     12   31  ...       -9        0      -9     NaN

[1 rows x 135 columns]

In [27]:
df.shape

(181691, 135)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [29]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [30]:
df.describe()

            eventid          iyear  ...       INT_MISC        INT_ANY
count  1.816910e+05  181691.000000  ...  181691.000000  181691.000000
mean   2.002705e+11    2002.638997  ...       0.090010      -3.945952
std    1.325957e+09      13.259430  ...       0.568457       4.691325
min    1.970000e+11    1970.000000  ...      -9.000000      -9.000000
25%    1.991021e+11    1991.000000  ...       0.000000      -9.000000
50%    2.009022e+11    2009.000000  ...       0.000000       0.000000
75%    2.014081e+11    2014.000000  ...       0.000000       0.000000
max    2.017123e+11    2017.000000  ...       1.000000       1.000000

[8 rows x 77 columns]

In [31]:
df.describe(include = 'all')

             eventid  ...                                            related
count   1.816910e+05  ...                                              25038
unique           NaN  ...                                              14306
top              NaN  ...  201612010023, 201612010024, 201612010025, 2016...
freq             NaN  ...                                                 80
mean    2.002705e+11  ...                                                NaN
std     1.325957e+09  ...                                                NaN
min     1.970000e+11  ...                                                NaN
25%     1.991021e+11  ...                                                NaN
50%     2.009022e+11  ...                                                NaN
75%     2.014081e+11  ...                                                NaN
max     2.017123e+11  ...                                                NaN

[11 rows x 135 columns]

In [32]:
df.isna().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    172452
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       156653
Length: 135, dtype: int64

In [33]:
df.shape[0]

181691

In [34]:
len(df)

181691

Dropping columns with 60% of null Values.

In [35]:
# gt_df = df.dropna(thresh=len(df)*0.6,how='all',axis=1) or

gt_df = df.dropna(thresh=df.shape[0]*0.6,how='all',axis=1)

In [36]:
gt_df.shape           # decreased data a lot

(181691, 58)

So, now we have reduced the data size a lot by removing ambiguous/incomplete data.

In [37]:
gt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 58 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country           181691 non-null  int64
 6   country_txt       181691 non-null  object
 7   region            181691 non-null  int64
 8   region_txt        181691 non-null  object
 9   provstate         181270 non-null  object
 10  city              181257 non-null  object
 11  latitude          177135 non-null  float64
 12  longitude         177134 non-null  float64
 13  specificity       181685 non-null  float64
 14  vicinity          181691 non-null  int64
 15  summary           115562 non-null  object
 16  crit1             181691 non-null  int64
 17  crit2             181691 non-null  int64
 18  crit3             181691 non-null  int64
 19  doubtterr         181690 non-null  float64
 20  multiple          181690 non-null  float64
 21  success           181691 non-null  int64
 22  suicide           181691 non-null  int64
 23  attacktype1       181691 non-null  int64
 24  attacktype1_txt   181691 non-null  object
 25  targtype1         181691 non-null  int64
 26  targtype1_txt     181691 non-null  object
 27  targsubtype1      171318 non-null  float64
 28  targsubtype1_txt  171318 non-null  object
 29  corp1             139141 non-null  object
 30  target1           181055 non-null  object
 31  natlty1           180132 non-null  float64
 32  natlty1_txt       180132 non-null  object
 33  gname             181691 non-null  object
 34  guncertain1       181311 non-null  float64
 35  individual        181691 non-null  int64
 36  nperps            110576 non-null  float64
 37  nperpcap          112202 non-null  float64
 38  claimed           115571 non-null  float64
 39  weaptype1         181691 non-null  int64
 40  weaptype1_txt     181691 non-null  object
 41  weapsubtype1      160923 non-null  float64
 42  weapsubtype1_txt  160923 non-null  object
 43  weapdetail        114021 non-null  object
 44  nkill             171378 non-null  float64
 45  nkillus           117245 non-null  float64
 46  nkillter          114733 non-null  float64
 47  nwound            165380 non-null  float64
 48  nwoundus          116989 non-null  float64
 49  nwoundte          112548 non-null  float64
 50  property          181691 non-null  int64
 51  ishostkid         181513 non-null  float64
 52  scite1            115500 non-null  object
 53  dbsource          181691 non-null  object
 54  INT_LOG           181691 non-null  int64
 55  INT_IDEO          181691 non-null  int64
 56  INT_MISC          181691 non-null  int64
 57  INT_ANY           181691 non-null  int64
dtypes: float64(19), int64(22), object(17)
memory usage: 80.4+ MB

In [38]:
# Lets check percentage of null values in each column:
gt_df.isna().sum()/len(gt_df) *100

eventid              0.000000
iyear                0.000000
imonth               0.000000
iday                 0.000000
extended             0.000000
country              0.000000
country_txt          0.000000
region               0.000000
region_txt           0.000000
provstate            0.231712
city                 0.238867
latitude             2.507554
longitude            2.508104
specificity          0.003302
vicinity             0.000000
summary             36.396409
crit1                0.000000
crit2                0.000000
crit3                0.000000
doubtterr            0.000550
multiple             0.000550
success              0.000000
suicide              0.000000
attacktype1          0.000000
attacktype1_txt      0.000000
targtype1            0.000000
targtype1_txt        0.000000
targsubtype1         5.709144
targsubtype1_txt     5.709144
corp1               23.418882
target1              0.350045
natlty1              0.858050
natlty1_txt          0.858050
gname                0.000000
guncertain1          0.209146
individual           0.000000
nperps              39.140629
nperpcap            38.245703
claimed             36.391456
weaptype1            0.000000
weaptype1_txt        0.000000
weapsubtype1        11.430396
weapsubtype1_txt    11.430396
weapdetail          37.244553
nkill                5.676120
nkillus             35.470111
nkillter            36.852678
nwound               8.977330
nwoundus            35.611010
nwoundte            38.055270
property             0.000000
ishostkid            0.097969
scite1              36.430533
dbsource             0.000000
INT_LOG              0.000000
INT_IDEO             0.000000
INT_MISC             0.000000
INT_ANY              0.000000
dtype: float64

In [39]:
# dropping duplicates that are row based
gt_df.drop_duplicates()

             eventid  iyear  imonth  iday  ...  INT_LOG  INT_IDEO INT_MISC  INT_ANY
0       197000000001   1970       7     2  ...        0         0        0        0
1       197000000002   1970       0     0  ...        0         1        1        1
2       197001000001   1970       1     0  ...       -9        -9        1        1
3       197001000002   1970       1     0  ...       -9        -9        1        1
4       197001000003   1970       1     0  ...       -9        -9        1        1
...              ...    ...     ...   ...  ...      ...       ...      ...      ...
181686  201712310022   2017      12    31  ...        0         0        0        0
181687  201712310029   2017      12    31  ...       -9        -9        1        1
181688  201712310030   2017      12    31  ...        0         0        0        0
181689  201712310031   2017      12    31  ...       -9        -9        0       -9
181690  201712310032   2017      12    31  ...       -9        -9        0       -9

[181691 rows x 58 columns]

In [40]:
gt_df.describe()

            eventid          iyear  ...       INT_MISC        INT_ANY
count  1.816910e+05  181691.000000  ...  181691.000000  181691.000000
mean   2.002705e+11    2002.638997  ...       0.090010      -3.945952
std    1.325957e+09      13.259430  ...       0.568457       4.691325
min    1.970000e+11    1970.000000  ...      -9.000000      -9.000000
25%    1.991021e+11    1991.000000  ...       0.000000      -9.000000
50%    2.009022e+11    2009.000000  ...       0.000000       0.000000
75%    2.014081e+11    2014.000000  ...       0.000000       0.000000
max    2.017123e+11    2017.000000  ...       1.000000       1.000000

[8 rows x 41 columns]

From dataset we can observe that there are some columns which contain some text data and the columns adjacent to these cols contain the numeric code for the text data.

Lets check columns containing only numeric values first

In [41]:
# Columns with numeric values only

numeric_cols = gt_df.select_dtypes(include=np.number).columns.tolist()
print(len(numeric_cols))
# print(numeric_cols)
numeric_cols

41

['eventid',
 'iyear',
 'imonth',
 'iday',
 'extended',
 'country',
 'region',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'targtype1',
 'targsubtype1',
 'natlty1',
 'guncertain1',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'weaptype1',
 'weapsubtype1',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'ishostkid',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY']

Lets fill the NA values in Numeric Columns by corresponding Median values.

In [42]:
# Filling na values by median:

for i in numeric_cols:
  if (i != 'nkill') and (i != 'nwound'):
    gt_df[i] = gt_df[i].fillna(gt_df[i].median)

In [43]:
gt_df.isna().sum()

eventid                 0
iyear                   0
imonth                  0
iday                    0
extended                0
country                 0
country_txt             0
region                  0
region_txt              0
provstate             421
city                  434
latitude                0
longitude               0
specificity             0
vicinity                0
summary             66129
crit1                   0
crit2                   0
crit3                   0
doubtterr               0
multiple                0
success                 0
suicide                 0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
targsubtype1            0
targsubtype1_txt    10373
corp1               42550
target1               636
natlty1                 0
natlty1_txt          1559
gname                   0
guncertain1             0
individual              0
nperps                  0
nperpcap                0
claimed                 0
weaptype1               0
weaptype1_txt           0
weapsubtype1            0
weapsubtype1_txt    20768
weapdetail          67670
nkill               10313
nkillus                 0
nkillter                0
nwound              16311
nwoundus                0
nwoundte                0
property                0
ishostkid               0
scite1              66191
dbsource                0
INT_LOG                 0
INT_IDEO                0
INT_MISC                0
INT_ANY                 0
dtype: int64

In [44]:
gt_df['nwound'].describe()

count    165380.000000
mean          3.167668
std          35.949392
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max        8191.000000
Name: nwound, dtype: float64

In [45]:
gt_df.nkill.describe()

count    171378.000000
mean          2.403272
std          11.545741
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max        1570.000000
Name: nkill, dtype: float64

Let's fill na values in col- nkill and nwound by corresponding median values and also create a new col of casualities

In [46]:
gt_df['nwound'] = gt_df['nwound'].fillna(0).astype(int)
gt_df['nkill'] = gt_df['nkill'].fillna(0).astype(int)
gt_df['casualities'] = gt_df['nkill'] + gt_df['nwound']

In [47]:
gt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 59 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country           181691 non-null  int64
 6   country_txt       181691 non-null  object
 7   region            181691 non-null  int64
 8   region_txt        181691 non-null  object
 9   provstate         181270 non-null  object
 10  city              181257 non-null  object
 11  latitude          181691 non-null  object
 12  longitude         181691 non-null  object
 13  specificity       181691 non-null  object
 14  vicinity          181691 non-null  int64
 15  summary           115562 non-null  object
 16  crit1             181691 non-null  int64
 17  crit2             181691 non-null  int64
 18  crit3             181691 non-null  int64
 19  doubtterr         181691 non-null  object
 20  multiple          181691 non-null  object
 21  success           181691 non-null  int64
 22  suicide           181691 non-null  int64
 23  attacktype1       181691 non-null  int64
 24  attacktype1_txt   181691 non-null  object
 25  targtype1         181691 non-null  int64
 26  targtype1_txt     181691 non-null  object
 27  targsubtype1      181691 non-null  object
 28  targsubtype1_txt  171318 non-null  object
 29  corp1             139141 non-null  object
 30  target1           181055 non-null  object
 31  natlty1           181691 non-null  object
 32  natlty1_txt       180132 non-null  object
 33  gname             181691 non-null  object
 34  guncertain1       181691 non-null  object
 35  individual        181691 non-null  int64
 36  nperps            181691 non-null  object
 37  nperpcap          181691 non-null  object
 38  claimed           181691 non-null  object
 39  weaptype1         181691 non-null  int64
 40  weaptype1_txt     181691 non-null  object
 41  weapsubtype1      181691 non-null  object
 42  weapsubtype1_txt  160923 non-null  object
 43  weapdetail        114021 non-null  object
 44  nkill             181691 non-null  int64
 45  nkillus           181691 non-null  object
 46  nkillter          181691 non-null  object
 47  nwound            181691 non-null  int64
 48  nwoundus          181691 non-null  object
 49  nwoundte          181691 non-null  object
 50  property          181691 non-null  int64
 51  ishostkid         181691 non-null  object
 52  scite1            115500 non-null  object
 53  dbsource          181691 non-null  object
 54  INT_LOG           181691 non-null  int64
 55  INT_IDEO          181691 non-null  int64
 56  INT_MISC          181691 non-null  int64
 57  INT_ANY           181691 non-null  int64
 58  casualities       181691 non-null  int64
dtypes: int64(25), object(34)
memory usage: 81.8+ MB

In [48]:
gt_df.isna().sum()

eventid                 0
iyear                   0
imonth                  0
iday                    0
extended                0
country                 0
country_txt             0
region                  0
region_txt              0
provstate             421
city                  434
latitude                0
longitude               0
specificity             0
vicinity                0
summary             66129
crit1                   0
crit2                   0
crit3                   0
doubtterr               0
multiple                0
success                 0
suicide                 0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
targsubtype1            0
targsubtype1_txt    10373
corp1               42550
target1               636
natlty1                 0
natlty1_txt          1559
gname                   0
guncertain1             0
individual              0
nperps                  0
nperpcap                0
claimed                 0
weaptype1               0
weaptype1_txt           0
weapsubtype1            0
weapsubtype1_txt    20768
weapdetail          67670
nkill                   0
nkillus                 0
nkillter                0
nwound                  0
nwoundus                0
nwoundte                0
property                0
ishostkid               0
scite1              66191
dbsource                0
INT_LOG                 0
INT_IDEO                0
INT_MISC                0
INT_ANY                 0
casualities             0
dtype: int64

Now we have replaced null values in numeric cols by the median value of that particular col

Now we are left with the text data ie Object or String type datatype.

In [49]:
# lets check columns with text or object type data only

text_cols = gt_df.select_dtypes(include= object).columns.tolist()
print(len(text_cols))
# print(numeric_cols)
text_cols

34

['country_txt',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'summary',
 'doubtterr',
 'multiple',
 'attacktype1_txt',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'gname',
 'guncertain1',
 'nperps',
 'nperpcap',
 'claimed',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weapdetail',
 'nkillus',
 'nkillter',
 'nwoundus',
 'nwoundte',
 'ishostkid',
 'scite1',
 'dbsource']